.container {
    width: 800px;
    height: 400px;
}

.min-h-100 {
    min-height: 100%;
}

.default {
    cursor: default ;
}

button {
    width: 60px;
    height: 40px;
    margin: 10px 30px;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.actions {
    width: 700px;
}