.seance-details {
    width: 740px;
    height: 330px;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.logan {
    background-image: url("../../../assets/photos/logan.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.spider {
    background-image: url("../../../assets/photos/spider-man.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.fryzjer {
    background-image: url("../../../assets/photos/fryzjer.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.destiny {
    background-image: url("../../../assets/photos/oszukac.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}